# Virtual Environments
venv/
.venv/
env/
ENV/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment Variables
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temp / Logs
*.log
